body {
  background-color: #474954;
  font: ;
}
.Main-Header {
  text-align: center;
  color: #7cdedc;
  margin-top: 40px;
  font-size: 50px;
}
.Secondary-Header {
  text-align: center;
  color: #7cdedc;
}
